@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family:"miama";
    src: url(../miama/Miama.ttf);
}
*{
    margin: 0;
    padding: 0;
    }
/* shared styles */
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding-top: 3rem;
    
}

.white{
 color: white;
}
.join-btn{
       padding: 1rem ;
       border-radius: 42px;
    color: white;
       background: rgb(230, 83, 60);
       width: 13rem;
       height: 3rem;
       border: none;
}
.download-btn{
    padding: 1rem ;
       border-radius: 42px;
    color: white;
       background: black;
       width: 13rem;
       height: 3rem;
       border:1px solid rgba(255, 255, 255, 0.1) ;
}

/* nav styles here */
.header-container, .hero{
    width: 80%;
    margin: 0 auto ;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h2{
    font-size: 1.9rem;
    color: rgb(230, 83, 60);
}
.nav-bar-2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 2rem;
   width: 22rem;
   align-items: center;
   color: rgb(255, 255, 255);
    border-radius: 3rem;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    
    


}
.hamburger{
    color: white;
    display: none;
}
.home{
    padding: 4px 11px;
    background-color:rgb(230, 83, 60);
    border-radius: 1.9rem;
    
}
.about{
    margin-right:15px;
}
/* nav styles ends here */

/* hero section styles here */
h1{
    color: white;
    font-size: 3.8rem;
}
.italic{
    font-family:"miama";
    font-size: 7rem;
    font-weight: 300;
}
/* hero styles starts here */
.hero{
    display: flex;
    width: 100%;
    margin-top: 4em;
    gap: 13rem;
}
.banner-content{
    text-align: left;
    width: 40%;
    margin-bottom: 2rem;
    
    
    
    
}
.banner-title{
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    

}
.banner-description{
  font-weight:300;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.5);

   
}
.btn{
    display: flex;
    gap: 20px;
}
.banner-img-section{
    width: 60%;
    margin-left: 7rem;
    margin-bottom: 5rem;
    
}
.btn{
    margin-top: 1.5rem;
}
.image{
    position: relative;
}
.box-1{
    position: absolute;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(30px);
background: rgba(255, 255, 255, 0.1);
bottom: 17rem;
right: 4em;
justify-content: center;

width: 10rem;
height: 5rem;
}
.box-content-1{
    
margin-top: 10px;
margin-left: 40px;

}
.box-description{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 40px;
}
.box-2{
    display: flex;
    position: absolute;
    gap: 10px;
    width: 10rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    right: 22em;
    top: 36.5rem;
    
}
.ball{
    border: 1px solid rgb(230, 83, 60);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
/* change habit section styles starts here */
.change-habit-container{
    max-width: 80%;
    margin: 0 auto ;
}
.habit{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.habit-description{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 10px;
}
.habit-img{
    display: flex;
    justify-content: space-between;
    margin-top:3rem ;
}
.movement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.movement img{
    border-radius: 50%;
}
.movement-title{
    margin-top: 1rem;
}
/* run-extra section styles starts here */
.run-extra-container{
    max-width: 80%;
    
    margin: 0 auto ;
    border-radius: 18px;
    background: rgb(34, 34, 34);
   
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 3rem;
    gap: 10rem;
    
    }
    .run-extra{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 443px;
    height: 290px;
    
    
    }
    .run-title{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .run-img img{
        height: 300px;
        border-radius:18px;
        
       
    }
    .run-img-2{
        display: none;
    }
.run-description{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 2rem;
    margin-top: 1rem;
}
/* bmi calculator section styles */
.bmi{
    width: 80%;
    margin: 0 auto ;
}
.bmi-container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    
    text-align: left;
    margin-left: 12rem;
    margin-top: 5rem;
}
.bmi-title{
    
}
.bmi-description{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
}
.chart{
    width: 100%;
    
    background: rgb(34, 34, 34);
    
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;

}
.chart-container{
    width: 50%;
    
    
    
    padding-top: 7rem;
}
.calulator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.calculate{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 1rem;
    padding-top: 7rem;
    padding-right: 6rem;
}
.calculate-description{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
}
.bmi-title{
    margin-bottom: 3rem;
    margin-right: 1rem;
}
table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
    border-color:rgba(255, 255, 255, 0.5);
}
th{
    text-align: left;
    font-size: 12px;
}
th, td{
    padding: 10px;
}
td{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
}
#sex{
    
    padding: 12px 147px 12px 20px;
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);}


.input-cal{
    display:flex;
    flex-wrap: wrap;
    
    gap: 10px;
    
}
.items{
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    border: none;

background: rgba(255, 255, 255, 0.1);
}
.item{
    width: 100%;
    margin-bottom: 10px;
}

.items-2{
    padding:12px 239px 12px 20px;
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
border:none;
}
/* my creative section styles here */
.creative-section{
    max-width: 80%;
    margin: 0 auto ;
    display: flex;
    gap:10rem;
    margin-top: 4rem;

}
.creative-img-container img{
    border: none;
  border-radius: 2rem;
  
  
}
.benefit-description{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 1rem;
}

/* meet our team section styles starts here */
.meet-our-team{
    max-width: 80%;
    margin: 0 auto ;
}
.meet-title{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 5rem;
     margin-bottom: 3rem;
     
}
.meet-description{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
}
.meet-img-container{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 1rem;
 border-radius: 18px;
 background: rgba(255, 255, 255, 0.1);
 padding:1rem;

}
.meet-img{
    position: relative;
}
 h5{
    position: absolute;
    bottom: 1.8rem;
    right: 14.9rem;
    font-weight: 700;
    font-size: 15px;
}
h6{
    position: absolute;
    bottom: .8rem;
    right: 17.9rem;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.65); 
}
.style-new{
    position: absolute;
    right: 11rem;
}
.style-new-1{
    position: absolute;
    right: 13.6rem;
}
.meet-img>img{
width: 100%;
height: 100%;
border-radius: 18px;
filter: brightness(80%);

}
/* footer-section[fitness]styes here */
.fitness{
    
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5rem;
    

}
.fitness-container{
    max-width: 80%;
    margin: 0 auto ;
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    
    
}
.fitness-2{
    
    width: 443px;
    margin-top: 4rem;
}
.get-started{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
}
.fitness-title{
    color: rgb(230, 83, 60);
}

.fitness-describe{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 1.2rem;
}
.title{
    margin-bottom: 2rem;
}
.anchor{
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.borderr{
   border: 1px solid rgba(255, 255, 255, 0.1);
   max-width:80%;
   margin:0 auto ;
   margin-top: 4.5rem;;
   
}
.reserved{
    text-align: center;
    margin-top:2rem ;
    padding-bottom:2rem ;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
}


/* RESPONSIVE AREA */

/* mobile responsive styles here */

@media screen and (max-width:576px) {
    .header-container, .hero{
        width: 90%;
        margin: 0 auto;
    
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
    .hamburger{
        color: white;
        display:block;
        
    }
    .nav-bar-2{
        display: none;
    }
    .hero{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap:3rem;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 30px;
        font-weight: 900;
    }
    .healthy{
        font-size: 30px;
    }
    .banner-img-section{
        width: 100%;
        margin: 0;
        
    }
    .image{
        position: relative;
        width: 80%;
        
    }
    .box-1{
        position: absolute;
        top: 40em;
        right: 2rem;

    }
    .box-2{
        position: absolute;
        left: 2em;
        top: 53rem;
    }
    .habit-description{
        margin-top: 2px;
    }
    .habit-img{
        flex-direction: column;
        gap:2rem;
    }
    .run-extra-container{
        flex-direction: column;
        padding: 0;
        gap: 5px;
        width: 90%;
        margin: 15px auto;
        /* width:400px; */
        /* height: 531px; */
        /* justify-content: center;
        align-items: center; */
    }
    .run-extra{
        justify-items: center;
        
        align-items: center;
        width: 100%;
        height: 100%;

    }
    .run-description{
        margin-top: 0;
    }
    .run-img{
        padding: 20px;
    }
    .run-img-2{
        display: block;
        width: 100%;
border-radius: 15px;
    }
    .run-img-3{
        display: none;
    }
    .bmi-container{
        margin-left: 0;
    }
    .chart{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .chart-container{
        padding: 0;
        width: 100%;
    }
    .calulator{
        width: 100%;
        align-items: center;
    }
    .calculate{
        padding-top: 1rem;
        width: 100%;
        align-items:center;
        padding-right: 0;
        gap: 14px;
        

    }


    .creative-section{
        flex-direction:column-reverse;
        gap: 4rem;
        
    }
    .creative-img-container img{
         width: 100%;
        
         border-radius: 1rem;
    }
    

    .meet-img-container{
        
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        border-radius: 10px;
       
    }
    .meet-description{
        margin-top: 15px;
    }

    .meet-img>img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        filter: brightness(80%);
    
    
    
}
h5{
    right: 11rem;
}
h6{
    right: 14rem;
}
.theresa{
    right: 13.8rem;
}
.style-new{
    right: 7rem;
}
.style-new-1{
    right: 9.5rem;
}

.fitness-container{
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 18px;
}
.fitness-2{
    width: 100%;
}
.fitness-describe{
    width: 90%;
    padding-top: 1.5rem;
}
}
